 <div class="info">
  <h1> 关于弈智 </h1>
  <p> {{site.user_description_chinese}} </p>
  <p> {{site.user_description_english}} </p>
 </div>

 <div class="global-market">
  <h1> 全球市场 </h1>
  <p>公司在美国New Jersey、印度Gurugram、希腊Athens、中国Shanghai均设立了办公地点。团队总成员超过50人，拥有行业尖端的IT团队及海量金融数据库。 公司专注于高频量化研究，涉及品种包括全球股票、期货、期权、数字货币等，涉猎市场有美国CME、NDX，印度NSE、BSE，俄罗斯MICEX、RTS，土耳其ISE，巴西B3，英国LME，中国SHFE、DCE，南非JSE，新加坡SGX等。</p>
 </div>

 <div class="team">
  <h1> 管理团队 </h1>
  <p>公司管理层均持有世界顶级学校博士学位（包括麻省理工、斯坦福、沃顿商学院、南加大、康奈尔等），公司核心成员曾在华尔街顶级公司（Morgan Stanley,  Merrill Lynch, J.P. Morgan,  Knight Capital）担任董事总经理、总监，在全球市场成功管理数十亿美元资金。</p>
 </div>

 <div class="culture">
  <h1> 公司文化 </h1>
  <p>弈智投资倡导协作与创新，我们相信最好的策略来自团队合作、坦诚的辩论以及知识和想法的分享与碰撞。
    我们认可、欣赏和支持每位团队成员的贡献和影响。
    弈智投资非常注重人才培养，新成员可以从行业大佬处获得丰富的经验，深入了解策略研发的过程，获得迅速提升和成长。
    </p>
  <p>上海团队以90后为主，氛围轻松活泼、公司提供丰厚的薪酬及五险一金，充足带薪年假，每日餐补及无限量零食饮料。此外公司亦会组织每周五下午集体茶歇，每月团建聚餐，每位团队成员的生日活动及各种节日福利。</p>
 </div>

<!--
<center><table><tr>
  <td><img height=600 src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" /></td>
  <td><img height=600 src="{{ "/assets/img/2.jpg" | prepend: site.baseurl }}" /></td>
</tr></table>
</center>-->

