<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="弈智投资成立于2018年，公司位于上海陆家嘴CBD核心地段，由拥有数十年金融市场和计算机技术经验的常春藤校友创办，专注于全球期货、股票、期权市场的高频量化研究。">
  <meta http-equiv="content-language" content="zh-cn">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!--<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">-->

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
</head>
