<div class="user-details">
  <h1> 招贤纳士 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 职位名称 </h3>
    <ul>
      <li> 量化研究员全职</li>
    </ul>
    <ul>
      <li> 量化研究员实习生（实习工资500/天 半年内可毕业并转正者优先）</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/4.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 职位要求 </h3>
    <ul>
      <li> 一流重点高校硕博士，且本科需为国内 Top 10 院校或国外 Top 20 院校</li>
    </ul>
    <ul>
      <li> 科学/工程相关专业，如数学、统计、计算机、物理、金融工程等</li>
    </ul>
    <ul>
      <li> 在数学、统计、算法、金融工程等方面学术基础扎实，学习、研究能力强</li>
    </ul>
    <ul>
      <li> 具有扎实的编程能力，熟练掌握至少一门编程语言，如Python, R, C++等</li>
    </ul>
    <ul>
      <li> 熟练掌握机器学习和人工智能相关算法和技术者优先</li>
    </ul>
    <ul>
      <li> 具备英文日常沟通能力</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/5.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 岗位职责 </h3>
    <ul>
      <li> 基于现有组合因子算法，利用机器学习或统计方法进行修正</li>
    </ul>
    <ul>
      <li> 完善因子库，构建新因子并完成新因子的测试及改进</li>
    </ul>
    <ul>
      <li> 在导师指导下，优化已有策略并研究开发新策略</li>
    </ul>
    <ul>
      <li> 基于风控及持仓收益管理，研发组合最优化方法</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/6.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 你的收获 </h3>
    <ul>
      <li> 深入了解高频交易从研究到实盘的各个环节</li>
    </ul>
    <ul>
      <li> 全球多个市场实盘交易经验</li>
    </ul>
    <ul>
      <li> 行业大牛成为专属导师，与 global team 深入交流合作</li>
    </ul>
    <ul>
      <li> 海量金融数据库及顶尖IT团队的技术支持</li>
    </ul>
    <ul>
      <li> 优厚的薪酬及五险一金，午餐补贴，协助员工落户上海</li>
    </ul>
    <ul>
      <li> 轻松自由的团队氛围及广阔的个人发展空间</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/7.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 工作地点 </h3>
    <ul>
      <li> 上海市浦东新区世纪大道100号环球金融中心 </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/黑色logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 简历投递 </h3>
    <ul>
      <li> 投递邮箱：yzhr@yzinv.cn, 简历命名：姓名-本科学校-硕士学校-可到岗时间。</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>